/* *{
    outline: red solid 1px;
} */
:root{
    --background-color: #241A2F;
    --test-color : #0B080E;
    --visible-state : hidden;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    box-sizing: border-box;
}
button{
    border: none;
    border-radius: 16px;
    cursor: pointer;
    padding: 5px;
}
.main-grid{
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: .5fr 1.5fr 1fr 1fr;
    grid-column-gap: 0px;
    justify-content: center;
    height: 100vh;
    align-items: center;
    gap: 8px;
}
.main-grid__search{
    grid-area: 1 / 1 / 2 / 2; 
    align-self: center;
    width: clamp(275px,50vw,600px);
    justify-self: center;
}
.search{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 32px;
}
.search__input{
    width: 100%;
}
.main-grid__current{
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(14px,4vw,30px);
    visibility: var(--visible-state);
}
.current-weather{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 16px;
    background-color: var(--test-color);
    color: white;
    border-radius: 32px;
}
.current-weather__location{
    text-align: center;
    padding: 5px;
}
.current-weather__conidition{
    padding: 5px;
}
.image--weather-icon{
    vertical-align: top;
}
.current-weather__temperature{
    padding: 5px;
}
.flex-grid__additional{
    display: flex;
    align-items: center;
    overflow-x: auto;

}
.main-grid__scrollbar-wrapper{
    background-color: var(--test-color);
    border-radius: 32px;
    display: flex;
    align-items: center;
    grid-area: 3 / 1 / 4 / 2;
    width: clamp(25px,50vw,50%);
    justify-self: center;
    visibility: var(--visible-state);
    
}
.current-weather-additional{
    display: flex;
    gap: clamp(0px,3vw,32px);
    text-align: center;
    justify-content: space-evenly;
}
.additional-stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: var(--test-color);
    color: white;
    border-radius: 16px;
    width: 80px;
    height: 60px;
}
.main-grid__forecast{
    grid-area: 4 / 1 / 5 / 2;
    visibility: var(--visible-state);
}
.forcecast-container{
    display: flex;
    gap: clamp(8px,5%,64px);
    align-items: center;
    justify-content:center;
    
   
}
.forecast{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    padding: 5px;
    background-color: var(--test-color);
    color: white;
    border-radius: 16px;
    width: clamp(140px,3vw,400px);
    font-size: clamp(12px,2vw,18px);

}
.forecast__temperatures{
    display: flex;
    justify-content: space-between;
}
.forecast--weather-icon{
    vertical-align: top;
    object-fit: contain;
    height: 30%;
    width: auto;
}
.forecast__temp{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input-field{
    border: none;
    width: 100%;
    border-radius: 18px;
    background-color: var(--test-color);
    padding: 5px;
    color: white;
    caret-color: white;
    
}
.input-field::placeholder{
    color: white;
}
.button--search{
    background-color: var(--test-color);
    color: white;
    padding-left: 25%;
    padding-right: 25%;
    transition-duration: 0.4s;
    position: relative;
}
.button--search:hover{
    transition-duration: 0.1s;
    background-color: #3A3A3A;
}
.button--search:after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 1em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 5px 20px green;
}
.button--search:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 1em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  .button--search:active {
    top: 1px;
  }
  .main--grid__error{
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 32px ;
    width: 80%;
  }
  .error__container{
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }